.autocompleteDropdownWrapper {
    position: absolute;
    z-index: 1000;
    background: white;
    -webkit-box-shadow: 0px 0px 13px -3px rgba(0,90,245,1);
    -moz-box-shadow: 0px 0px 13px -3px rgba(0,90,245,1);
    box-shadow: 0px 0px 13px -3px rgb(106, 145, 212);
    width: 97%;
}

.autocomplete-dropdown {
    position: static;
    float: none;
    padding: 0;
    list-style-type: none;
    margin: 0;
}

.autocomplete-dropdown li {
    padding: 5px;
    cursor: context-menu;
}

.autocomplete-dropdown li:hover {
    background-color: #aad5fb;
}

.controls {
	text-align: center;
	margin-top: 8px;
}

.controls a{
	padding:4px;
	margin:2px;
	color:black;
	cursor: pointer;
}
.active{
	background:darkblue;
	color:white !important;
}